.contactItem {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .contactText {
    margin: 0;
  }
  
  .deleteButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: #d32f2f;
  }